.div__background{
	background-color: #000;
}

.div__center{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.img__logo{
    width: 50%;
    display: block;
    margin: 0.5em auto 0.5em;
}